---
layout: base
---
<nav class="ArticleExcerpt">
    <a class="ArticleExcerpt-meta" href="/blog">Blog <span class="Nav-separator" aria-hidden="true"></span></a>
    <a class="ArticleExcerpt-meta" href="#external-posts">External posts <span class="Nav-separator" aria-hidden="true"></span></a>
    <a class="ArticleExcerpt-meta" href="#suggested-reads">Suggested reads</a>
</nav>

<article class="ArticleExcerpt">
    <h2 class="ArticleExcerpt-title">
        <a class="ArticleExcerpt-link" href="/food" rel="prefetch">Food</a>
    </h2>
    <div class="ArticleExcerpt-meta">
        ∞
    </div>
</article>

{% for post in site.posts %}
  {% unless post.draft or post.private %}
    <article class="ArticleExcerpt">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="prefetch">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
    </article>
    {% endunless %}
{% endfor %}

<div class="ArticleExcerpt ArticleExcerpt--section" id="external-posts">
    <h2 class="ArticleExcerpt-meta">External posts</h2>
</div>
{% for post in site.data.externalPosts %}
  {% unless post.draft %}
    <article class="ArticleExcerpt">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="noopener" target="_blank">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
    </article>
    {% endunless %}
{% endfor %}

<div class="ArticleExcerpt ArticleExcerpt--section" id="suggested-reads">
    <h2 class="ArticleExcerpt-meta">Suggested reads</h2>
</div>
{% for post in site.data.suggestedPosts %}
    <article class="ArticleExcerpt">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="noopener" target="_blank">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            {{ post.author }}
        </div>
    </article>
{% endfor %}
