---
layout: base
---
{% for post in site.posts %}
  {% unless post.draft or post.private %}
    <article class="ArticleExcerpt">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="prefetch">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
    </article>
    {% endunless %}
{% endfor %}

<article class="ArticleExcerpt ArticleExcerpt--section">
    <h2 class="ArticleExcerpt-meta">External posts</h2>
</article>
{% for post in site.data.externalPosts %}
  {% unless post.draft %}
    <article class="ArticleExcerpt" id="external-posts">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="noopener" target="_blank">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
    </article>
    {% endunless %}
{% endfor %}

<article class="ArticleExcerpt ArticleExcerpt--section" id="suggested-reads">
    <h2 class="ArticleExcerpt-meta">Suggested reads</h2>
</article>
{% for post in site.data.suggestedPosts %}
    <article class="ArticleExcerpt">
        <h2 class="ArticleExcerpt-title">
            <a class="ArticleExcerpt-link" href="{{ post.url }}" rel="noopener" target="_blank">{{ post.title }}</a>
        </h2>
        <div class="ArticleExcerpt-meta">
            {{ post.author }}
        </div>
    </article>
{% endfor %}
