---
layout: base
---

<style>
  .Article-header .Avatar {
    margin-bottom: 3rem;
  }
  .Article-header .Avatar img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
  }
  @media (min-width: 520px) {
    .Article-header {
      position: relative;
      padding-right: 84px;
    }
    .Article-header .Avatar {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }
  .Article-meta {
    margin-top: 0.25em;
  }
</style>
<article class="Article">
  <header class="Article-header">
    <div class="Avatar" aria-hidden="true">
      <img
        src="https://user-images.githubusercontent.com/711311/101384003-2a51ab80-38ba-11eb-8460-853d88885671.jpeg"
        width="64"
        height="64"
        alt
      />
    </div>
    <h1 class="Article-title"><a href="/">{{ page.title }}</a></h1>
    {% if page.subtitle %}
    <p class="Article-meta">{{ page.subtitle }}</p>
    {% endif %}
  </header>
  <section class="Article-content">
    <div class="Copy">
      {{ content }}
    </div>
  </section>
</article>
