---
layout: base
---
<article class="Article">
  <header class="Article-header">
    <div class="Article-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </div>
    <h1 class="Article-title">{{ page.title }}</h1>
    {% if page.subtitle %}<h2 class="Article-subtitle">{{ page.subtitle }}</h2>{% endif %}
  </header>
  <section class="Article-content">
    <div class="Copy">
      {% if page.tldr %}<div class="Tldr">{{ page.tldr | markdownify }}</div>{% endif %}
      {% if page.private %}<p class="Private">This article is private. Please do not share it yet!</p>{% endif %}
      {{ content }}
    </div>
  </section>
  <footer class="Article-footer">
    <div class="Article-social Article-social--twitter">
      <div class="Article-twitter">
        <a href="https://twitter.com/search?q={{ site.url }}{{ page.url }}" target="_blank">Discuss on Twitter</a>
      </div>
    </div>
    {% if page.hn_id %}
      <div class="Article-social">
        Discuss on <a href="https://news.ycombinator.com/item?id={{ page.hn_id }}" rel="nofollow">HackerNews</a>
      </div>
    {% endif %}
    {% if page.reddit_link %}
      <div class="Article-social">
        Discuss on <a href="{{ page.reddit_link }}" rel="nofollow">Reddit</a>
      </div>
    {% endif %}
      <div class="Article-social">
        <a href="https://github.com/giuseppeg/giuseppeg.github.com/edit/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.url | replace: "/", "" }}.md">Edit on GitHub</a>
      </div>
    {% if site.inc._disqus or page._disqus %}
      <div class="Article-social Article-social--comments">
        <div id="disqus_thread"></div>
          <script>
            var disqus_config=function(){this.page.url="{{ site.url }}{{ page.url }}",this.page.identifier='{{ page.date | date: "%Y/%m/%d" }}',this.page.title="{{ page.title }}"};!function(){var e=document,t=e.createElement("script");t.async="true";t.src="//giuseppegurgoneblog.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),(e.head||e.body).appendChild(t)}();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    {% endif %}
  </footer>
</article>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
